{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "rules": {
    "no-console": 2,
    "max-len": 0,
    "@typescript-eslint/lines-between-class-members": 0,
    "arrow-body-style": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
