<div class="row">
	<div class="col-12"><img class="blog_image" src="/assets/images/{{model.image}}" /></div>
</div>
<div class="row">
	<div class="col-12 blog_title"><h3>{{model.title}}</h3></div>
	<div class="col-12 blog_short"><p>{{model.long}}</p></div>
	<div class="col-12 blog_date"><p>Last modified: {{model.date}}</p></div>
</div>